.App {
  padding: 5%
}

.navigationContent {
  padding-bottom: 3%
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(http://imagizer.imageshack.com/img923/4545/XdJDuY.png) no-repeat;  
  cursor: pointer;
  
}
.heart-blast {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.docBio {
  text-align: left;
}
.scrollBox{
  overflow: auto;
  height: 200px;
  width: 400px;
}

.clickableSignon {
  color: #0068B3;
}

.inline {
  display: inline-block
}
.inline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.floating-box {
  float: left;
  width: 550px;
  height: 200px;
  margin: 10px;
}